<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanbanboard</title>
    <script th:src="@{/js/tasks.js}"></script>
</head>
<body id="body" onload="createTaskTable()">


<div>
    <ul>
        <li>
            <form th:action="@{/users}" method="GET">
                <input type="submit" value="Users">
            </form>
        </li>
        <li>
            <button id="btnCreateForm" name="btnCreateForm">Create a task</button>
        </li>

    </ul>
</div>

<div id="main">

    <div id="tableSpace">
        <table>
            <thead>
            <tr>
                <th>ON HOLD</th>
                <th>BACKLOG</th>
                <th>SPRINT BACKLOG</th>
                <th>IN PROGRESS</th>
                <th>UNDER REVIEW</th>
                <th>DONE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="tdHold">

                </td>
                <td id="tdBacklog">

                </td>
                <td id="tdSprint">

                </td>
                <td id="tdProgress">

                </td>
                <td id="tdReview">

                </td>
                <td id="tdDone">

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="taskSpace">
        <div id="taskDetails">

        </div>
    </div>

</div>


</body>
</html>