<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanbanboard</title>
    <script th:src="@{/js/tasks.js}"></script>
</head>
<body id="body" onload="createTaskTable()">


<div>
    <button id="btnCreateForm" name="btnCreateForm">Create a task</button>
    <form th:action="@{/users}" method="GET">
        <input type="submit" value="Users">
    </form>
</div>

<div id="main" >

    <div id="tableSpace" >

    </div>

    <div id="taskSpace">

    </div>

</div>


</body>
</html>