<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="createTask">
    <div id="wrongInputSpace">

    </div>
    <form id="createTaskForm" name="createTaskForm">
        <label for="taskTitle" class="form-label">Task title: </label>
        <input type="text" id="taskTitle" name="taskTitle" placeholder="title" class="form-control"><br>
        <label for="taskText" class="form-label">Task description: </label>
        <textarea type="text" id="taskText" name="taskText" placeholder="description" class="form-control" rows="3"></textarea><br>
        <label for="taskAssignee" class="form-label">Assignee Email: </label>
        <select id="taskAssignee" name="taskAssignee" class="form-select form-select-sm">

        </select>
        <!--<input type="text" id="taskAssignee" name="taskAssignee" placeholder="user@example.com">--><br>
        <label for="taskPriority" class="form-label">Priority: </label>
        <select name="taskPriority" id="taskPriority" class="form-select form-select-sm">
            <option value="NORMAL">NORMAL</option>
            <option value="LOW">LOW</option>
            <option value="HIGH">HIGH</option>
        </select>
    </form>

    <button id="btnCreate" class="btn btn-primary">Save Task</button>

</div>
</html>