<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="row">
    <div id="editTask" class="col">
        <div id="wrongInputSpace">

        </div>
        <h4 id="hTaskId" class="text-center"></h4>
        <form>
            <label for="selectStatus" class="form-label">Status:</label>
            <select id="selectStatus" class="form-select form-select-sm">
                <option value="ON_HOLD">ON_HOLD</option>
                <option value="BACKLOG">BACKLOG</option>
                <option value="SPRINT_BACKLOG">SPRINT_BACKLOG</option>
                <option value="IN_PROGRESS">IN_PROGRESS</option>
                <option value="UNDER_REVIEW">UNDER_REVIEW</option>
                <option value="DONE">DONE</option>
            </select>
            <label for="selectPrio" class="form-label">Priority:</label>
            <select id="selectPrio" class="form-select form-select-sm">
                <option value="NORMAL">NORMAL</option>
                <option value="HIGH">HIGH</option>
                <option value="LOW">LOW</option>
            </select>
            <label class="form-label">Title:</label>
            <input type="text" id="tTitle" name="tTitle" class="form-control">
            <label class="form-label">Assignee:</label>
            <select id="assignedEmail" name="assignedEmail" class="form-select form-select-sm">
            </select>
            <label class="form-label">Description:</label>
            <textarea type="text" id="tDescription" name="tDescription" class="form-control" rows="3"></textarea>
            <p id="pAuthor" name="pAuthor">Author: </p>
            <p id="pCreated" name="pCreated">Created: </p>
            <p id="pEdited" name="pEdited">Edited: </p>
        </form>
        <button id="btnSaveTask" name="btnSaveTask" class="btn btn-primary">Save Changes</button>
        <button id="btnDelete" name="btnDelete" class="btn btn-danger">Delete</button>

    </div>


    <div id="commentFragment" class="col">
        <h4 style="color: aqua" class="text-center">Comments: </h4>
        <ul id="commentList" name="commentList" class="list-group">
        </ul>
        <br>
        <form id="commentForm" >
            <label for="commentInput" class="form-label">New Comment:</label>
            <input type="text" id="commentInput" name="commentInput" value="comment" class="form-control">
            <button id="btnComment" name="btnComment" class="btn btn-primary">Save Comment</button>
        </form>

    </div>
</div>
</html>